<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/admin/admin-layout">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

</head>
<body>

<div layout:fragment="content">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Users</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example3" class="table-sm table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Username</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Avatar</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="user :${users}">
                                    <tr>
                                        <td><span th:text="${user.id}">No</span></td>
                                        <td><span th:text="${user.username}">Username</span></td>
                                        <td><span th:text="${user.fullname}">Full Name</span></td>
                                        <td><span th:text="${user.email}">Email</span></td>
                                        <td><span th:text="${user.phone}">Phone</span></td>
                                        <td><img th:src="${user.avatar}" alt="Avatar" width="200" height="200"/></td>
                                        <td><span th:text="${user.role.role}">Role</span></td>
                                        <td><span><a th:href="@{/admin/users/{userId}/edit(userId=${user.id})}">Edit</a></span></td>
                                    </tr>
                                </th:block>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>No</th>
                                    <th>Username</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Avatar</th>
                                    <th>Role</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

</div>
</body>
</html>