::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color:#F5F5F5;
}

.btn-circle.btn-sm {
	width: 30px;
	height: 30px;
	padding: 6px 0px;
	border-radius: 15px;
	font-size: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn-circle.btn-md {
	width: 50px;
	height: 50px;
	padding: 7px 10px;
	border-radius: 25px;
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	border-radius: 35px;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}

input[type="text"]:read-only { background-color: transparent; }

input[type="textarea"]:read-only { background-color: transparent; }

textarea:read-only { background-color: transparent; }

.input-file-dummy, .input-file-btn {
	cursor: pointer;
}
.input-file-dummy[readonly] {
	background-color: white;
}

/*!* The Modal (background) *!*/
/*.mail-modal {*/
/*  display: none; !*  Hidden by default *!*/
/*  position: fixed; !* Stay in place *!*/
/*  z-index: 10; !* Sit on top *!*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  width: 100%; !* Full width *!*/
/*  height: 100%; !* Full height *!*/
/*  overflow: auto; !* Enable scroll if needed *!!* Black w/ opacity *!*/
/*}*/

/*!*!* Modal Content/Box *!**/
/*.modal-content {*/
/*  background-color: #fefefe;*/
/*  padding: 10px;*/
/*  border: 1px solid #888;*/
/*  position: absolute;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  margin-right: 30px;*/
/*  width: 45%; !* Could be more or less, depending on screen size *!*/
/*  height: 75%;*/
/*  overflow: auto;*/
/*}*/

/*!* The Close Button *!*/
/*.close {*/
/*  color: #aaa;*/
/*  float: right;*/
/*  font-size: 28px;*/
/*  font-weight: bold;*/
/*}*/

/*.close:hover,*/
/*.close:focus {*/
/*  color: black;*/
/*  text-decoration: none;*/
/*  cursor: pointer;*/
/*}*/

/*.mail-header {*/
/*    background-color: #f0f0f0;*/
/*    width: 100%;*/
/*    margin-left: -20px;*/
/*    margin-right: -30px;*/
/*    margin-top: -20px;*/
/*}*/


/*Loading*/
/* Absolute Center Spinner */
.loading {
	position: fixed;
	z-index: 999;
	height: 2em;
	width: 2em;
	overflow: visible;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
}

/* Transparent Overlay */
.loading:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
	/* hide "loading..." text */
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.loading:not(:required):after {
	content: '';
	display: block;
	font-size: 10px;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	-webkit-animation: spinner 1500ms infinite linear;
	-moz-animation: spinner 1500ms infinite linear;
	-ms-animation: spinner 1500ms infinite linear;
	-o-animation: spinner 1500ms infinite linear;
	animation: spinner 1500ms infinite linear;
	border-radius: 0.5em;
	-webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
	box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-moz-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-o-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/*Modal Confirmation*/
body {
	font-family: sans-serif
}
.dialog-ovelay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.50);
	z-index: 999999
}
.dialog-ovelay .dialog {
	width: 400px;
	margin: 100px auto 0;
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,.2);
	border-radius: 3px;
	overflow: hidden
}
.dialog-ovelay .dialog header {
	padding: 10px 8px;
	background-color: #f6f7f9;
	border-bottom: 1px solid #e5e5e5
}
.dialog-ovelay .dialog header h3 {
	font-size: 14px;
	margin: 0;
	color: #555;
	display: inline-block
}
.dialog-ovelay .dialog header .fa-close {
	float: right;
	color: #c4c5c7;
	cursor: pointer;
	transition: all .5s ease;
	padding: 0 2px;
	border-radius: 1px
}
.dialog-ovelay .dialog header .fa-close:hover {
	color: #b9b9b9
}
.dialog-ovelay .dialog header .fa-close:active {
	box-shadow: 0 0 5px #673AB7;
	color: #a2a2a2
}
.dialog-ovelay .dialog .dialog-msg {
	padding: 12px 10px
}
.dialog-ovelay .dialog .dialog-msg p{
	margin: 0;
	font-size: 15px;
	color: #333
}
.dialog-ovelay .dialog footer {
	border-top: 1px solid #e5e5e5;
	padding: 8px 10px
}
.dialog-ovelay .dialog footer .controls {
	direction: rtl
}
.dialog-ovelay .dialog footer .controls .button {
	padding: 5px 15px;
	border-radius: 3px
}
.button {
	cursor: pointer
}
.button-default {
	background-color: #28a745;
	border: 1px solid rgba(204, 204, 204, 0.5);
	color: #f5f5f5;
	margin-left: 2px;
}
.button-danger {
	background-color: #f44336;
	border: 1px solid #d32f2f;
	color: #f5f5f5
}
.link {
	padding: 5px 10px;
	cursor: pointer
}

.w-120 {
	width: 120% !important;
}

#loading .loading-container{
	display: none;
}