<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PBS</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style th:replace="/admin-refactor/layout/style"></style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <div class="app-header header-shadow">
        <div th:replace="/admin-refactor/layout/header"></div>
    </div>
    <div class="app-main">
        <div th:replace="/admin-refactor/layout/left"></div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div id="admin-content">

                </div>
            </div>
        </div>
    </div>
    <div th:replace="/admin-refactor/layout/footer"></div>
</div>
<div th:replace="/admin-refactor/layout/script"></div>

<div class="modal fade" id="categoryModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content was-validated">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thể loại mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <label for="category-name" class="col-form-label">Thể loại:</label>
                        <input type="text" class="form-control" id="category-name" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Icon:</label>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control input-file-dummy" placeholder="Tập tin" aria-describedby="fileHelp" required>
                        <div class="valid-feedback order-last">Tập tin hợp lệ</div>
                        <div class="invalid-feedback order-last">Xin chọn tập tin</div>
                        <label class="input-group-append mb-0">
                        <span class="btn btn-info input-file-btn">
                          Thư mục... <input type="file" hidden>
                        </span>
                        </label>
                    </div>
                    <small id="fileHelp" class="form-text text-muted">Chọn tập tin định dạng SVG</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="submit" class="btn btn-primary">Tạo</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>