<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PBS</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style th:replace="/admin-refactor/layout/style"></style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <div class="app-header header-shadow">
        <div th:replace="/admin-refactor/layout/header"></div>
    </div>
    <div class="app-main">
        <div th:replace="/admin-refactor/layout/left"></div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div id="admin-content">

                </div>
            </div>
        </div>
    </div>
    <div th:replace="/admin-refactor/layout/footer"></div>
</div>
<div th:replace="/admin-refactor/layout/script"></div>
</body>
</html>