<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cancellation Detail</title>
</head>
<body>
    <div th:if="${cancellation.isSolve == true}">
        <p style="color: red;"> Đã solve</p>
    </div>
    <form method="post" th:action="@{/admin/cancellations/{id}(id = ${cancellation.id})}">
        <p th:text="${cancellation.owner.fullname}"></p>
        <br/>
        <p th:text="${cancellation.reason}"></p>
        <br/>
        <p th:text="${cancellation.booking.customer.fullname}"></p>
        <br/>
        <p th:text="${cancellation.booking.photographer.fullname}"></p>
        <br/>
        <p th:text="${#dates.format(cancellation.booking.timeLocationDetails.get(0).start, 'HH:mm dd-MM-yyyy')}">08:00 25/12/2020</p>
        <br/>
        <p th:text="${#dates.format(cancellation.createdAt, 'HH:mm dd-MM-yyyy')}">08:00 25/12/2020</p>
        <br/>
        <p th:text="${cancellation.booking.bookingStatus}"></p>
        <button type="button">Chi tiet don hen</button>
        <br/>
        <button type="submit">Chap thuan</button>
        <br/>
    </form>
    <form method="post" th:action="@{/admin/cancellations-warn/{id}(id = ${cancellation.id})}">
        <button type="button">Gui mail canh bao</button>
    </form>
</body>
</html>