<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/admin-refactor/admin-layout">
<head>
    <meta charset="UTF-8">
    <title>Cancellation List</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-header">Yêu cầu hủy hẹn
                    <div class="btn-actions-pane-right">
                        <div id="reportrange" class="mb-2 mr-2 dropdown-toggle btn btn-outline-info">
                            <i class="fa fa-calendar"></i>&nbsp;
                            <span></span> <i class="fa fa-caret-down"></i>
                        </div>
                        <!-- <input class="mb-2 mr-2 dropdown-toggle btn btn-outline-info" name="dates"/> -->
                        <div role="group" class="btn-group-sm btn-group dropdown-menu-left">
                            <a style="display: none;" id="cancellation-date" th:href="@{/admin/cancellations(page=${page.number},size=${size})}">10 kết quả</a>
                            <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"
                                    class="mb-2 mr-2 dropdown-toggle btn btn-outline-info"></button>
                            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" tabindex="-1" th:href="@{/admin/cancellations(page=${page.number},size=10,start=${start},end=${end})}">10 kết quả</a>
                                <a class="dropdown-item" tabindex="0" th:href="@{/admin/cancellations(page=${page.number},size=20,start=${start},end=${end})}">20 kết quả</a>
                                <a class="dropdown-item" tabindex="0" th:href="@{/admin/cancellations(page=${page.number},size=50,start=${start},end=${end})}">50 kết quả</a>
                                <a class="dropdown-item" tabindex="0" th:href="@{/admin/cancellations(page=${page.number},size=1000,start=${start},end=${end})}">Tất cả</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Khách hàng</th>
                            <th class="text-center">Thời gian hẹn</th>
                            <th class="text-center">Thời gian hủy</th>
                            <th class="text-center">Thợ chụp</th>
                            <th class="text-center">Trạng thái</th>
                            <th class="text-center">Tác vụ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="obj: ${page.content}">
                            <td class="text-center text-muted" th:text="${obj.id}">#345</td>
                            <td>
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-3">
                                            <div class="widget-content-left">
                                                <img width="40" class="rounded-circle"
                                                     th:src="${obj.booking.customer.avatar}" alt="">
                                            </div>
                                        </div>
                                        <div class="widget-content-left flex2">
                                            <div class="widget-heading" th:text="${obj.booking.customer.fullname}">Uyển Nhi</div>
                                        </div>
                                    </div>
                                </div>
                </td>
                <td class="text-center" th:text="${#dates.format(obj.booking.timeLocationDetails.get(0).start, 'HH:mm dd-MM-yyyy')}">08:00 12/20/2020</td>
                <td class="text-center" th:text="${#dates.format(obj.createdAt, 'HH:mm dd-MM-yyyy')}">08:00 12/20/2020</td>
                <td>
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left mr-3">
                                <div class="widget-content-left">
                                    <img width="40" class="rounded-circle" th:src="${obj.booking.photographer.avatar}" alt="">
                                </div>
                            </div>
                            <div class="widget-content-left flex2">
                                <div class="widget-heading" th:text="${obj.booking.photographer.fullname}">Cao Tiến</div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="text-center">
                    <div class="badge badge-warning" th:text="${obj.booking.bookingStatus}">Chờ xác nhận</div>
                </td>
                <td class="text-center">
                    <button type="button" id="PopoverCustomT-1"
                            class="btn btn-primary btn-sm">Chi tiết</button>
                </td>
                </tr>
                </tbody>
                </table>
            </div>
            <div class="d-block text-center card-footer">
                <nav aria-label="..." class="d-flex justify-content-center">
                    <ul class="pagination pagination-sm">
                        <li th:if="${page.hasPrevious()}" class="page-item"><a th:href="@{/admin/cancellations(page=${page.number-1},size=${page.size})}">Previous</a></li>
                        <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                            <li class="page-item"><span class="page-link disabled" th:if="${page.number == i}">[[${i}+1]]</span></li>
                            <li th:unless="${page.number == i}" class="page-item"><a th:href="@{/admin/cancellations(page=${i},size=${page.size})}">[[${i}+1]]</a></li>
                        </th:block>
                        <li th:if="${page.hasNext()}" class="page-item"><a th:href="@{/admin/cancellations(page=${page.number+1},size=${page.size})}">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>