<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="content">

<div class="row">
    <div class="col-md-6 col-xl-4">
        <a class="card mb-3 widget-content dashboard" id="cancellation-card">
            <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class="widget-heading">Quản lý người dùng</div>
                        <div class="widget-subheading">Đơn hủy hẹn</div>
                    </div>
                    <div class="widget-content-right ml-4">
                        <div class="widget-numbers text-info">
                            <i class="fas fa-directions"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-xl-4">
        <a class="card mb-3 widget-content dashboard" id="user-card">
            <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class="widget-heading">Quản lý người dùng</div>
                        <div class="widget-subheading">Danh sách người dùng</div>
                    </div>
                    <div class="widget-content-right ml-4">
                        <div class="widget-numbers text-info">
                            <i class="fas fa-directions"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-xl-4">
        <a class="card mb-3 widget-content dashboard" id="booking-card">
            <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class="widget-heading">Quản lý người dùng</div>
                        <div class="widget-subheading">Danh sách đơn hẹn</div>
                    </div>
                    <div class="widget-content-right ml-4">
                        <div class="widget-numbers text-info">
                            <i class="fas fa-directions"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-xl-4">
        <a class="card mb-3 widget-content dashboard" id="rating-card">
            <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class="widget-heading">Quản lý người dùng</div>
                        <div class="widget-subheading">Đánh giá khách hàng</div>
                    </div>
                    <div class="widget-content-right ml-4">
                        <div class="widget-numbers text-info">
                            <i class="fas fa-directions"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-xl-4">
        <a class="card mb-3 widget-content dashboard" id="report-card">
            <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class="widget-heading">Quản lý người dùng</div>
                        <div class="widget-subheading">Báo cáo từ người dùng</div>
                    </div>
                    <div class="widget-content-right ml-4">
                        <div class="widget-numbers text-info">
                            <i class="fas fa-directions"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xl-4">
        <a class="card mb-3 widget-content dashboard" id="category-card">
            <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class="widget-heading">Quản lý hệ thống</div>
                        <div class="widget-subheading">Thể loại</div>
                    </div>
                    <div class="widget-content-right ml-4">
                        <div class="widget-numbers text-info">
                            <i class="fas fa-directions"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-xl-4">
        <a class="card mb-3 widget-content dashboard" id="weight-card">
            <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class="widget-heading">Quản lý hệ thống</div>
                        <div class="widget-subheading">Trọng số</div>
                    </div>
                    <div class="widget-content-right ml-4">
                        <div class="widget-numbers text-info">
                            <i class="fas fa-directions"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xl-4">
        <a class="card mb-3 widget-content dashboard" id="thread-card">
            <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class="widget-heading">Diễn đàn</div>
                        <div class="widget-subheading">Bài viết</div>
                    </div>
                    <div class="widget-content-right ml-4">
                        <div class="widget-numbers text-info">
                            <i class="fas fa-directions"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-xl-4">
        <a class="card mb-3 widget-content dashboard" id="topic-card">
            <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class="widget-heading">Diễn đàn</div>
                        <div class="widget-subheading">Chủ đề</div>
                    </div>
                    <div class="widget-content-right ml-4">
                        <div class="widget-numbers text-info">
                            <i class="fas fa-directions"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<script th:inline="javascript">
    $('#thread-card').click(() => {
        $('#admin-content').load(pathname + '/admin/v2/threads');
    });

    $('#cancellation-card').click(() => {
        $('#admin-content').load(pathname + '/admin/cancellations');
    });

    $('#user-card').click(() => {
        $('#admin-content').load(pathname + '/admin/v2/users');
    });

    $('#booking-card').click(() => {
        $('#admin-content').load(pathname + '/admin/bookings');
    });

    $('#rating-card').click(() => {
        $('#admin-content').load(pathname + '/admin/ratings');
    });

    $('#report-card').click(() => {
        $('#admin-content').load(pathname + '/admin/reports');
    });

    $('#category-card').click(() => {
        $('#admin-content').load(pathname + '/admin/categories');
    });

    $('#weight-card').click(() => {
        $('#admin-content').load(pathname + '/admin/variables');
    });

    $('#topic-card').click(() => {
        $('#admin-content').load(pathname + '/admin/topics');
    });
</script>
</body>
</html>