<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking List</title>
</head>
<body>
<div th:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-header">Phương thức trả ảnh
                </div>
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Phương thức</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="obj: ${page.content}">
                            <td class="text-center text-muted" th:text="${obj.id}">#345</td>
                            <td class="text-center" th:text="${obj.type}">08:00 12/20/2020</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>