<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết bài viết</title>
</head>
<body>
<div th:fragment="content">
    <div class="row">
        <div class="tab-content col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body d-flex flex-row-reverse"><div class="media forum-item">
                    <input th:if="${thread.isBan == false}" class="btn btn-danger" type="button" value="Chặn bài viết" data-toggle="modal" data-target="#thread-ban-modal">
                    <input th:if="${thread.isBan == true}" class="btn btn-success" type="button" value="Gỡ chặn bài viết" data-toggle="modal" data-target="#thread-unban-modal">
                </div>
                </div>
            </div>
            <div class="main-card mb-3 card">
                <div class="card-body"><div class="media forum-item"> <a href="javascript:void(0)" class="card-link"> <img th:src="${{thread.owner.avatar}}" class="rounded-circle" width="50" alt="Người đăng"> <small class="d-block text-center text-muted"></small> </a><div class="media-body ml-3"> <a type="button" th:onclick="'toUserDetail(' + ${thread.owner.id} +')'" class="text-secondary" th:text="${{thread.owner.fullname}}">Mokrani</a> <small class="text-muted ml-2"></small><h5 class="mt-1" th:text="${{thread.title}}">Realtime fetching data</h5><div class="mt-3 font-size-sm">
                    <p th:text="${{thread.content}}"></p>
                </div></div><div class="text-muted small text-center"><span th:text="${#dates.format(thread.createdAt, 'HH:mm dd-MM-yyyy')}"><i class="far fa-comment ml-2"></i> 3</span></div></div></div>
            </div>
            <div th:each="obj: ${thread.comments}" class="main-card mb-3 card">
                <div class="card-body"><div class="media forum-item"> <a href="javascript:void(0)" class="card-link"> <img th:src="${{obj.owner.avatar}}" class="rounded-circle" width="50" alt="Người đăng"> <small class="d-block text-center text-muted"></small> </a><div class="media-body ml-3"> <a type="button" th:onclick="'toUserDetail(' + ${obj.owner.id} +')'" class="text-secondary" th:text="${{obj.owner.fullname}}">Mokrani</a> <small class="text-muted ml-2"></small><h5 class="mt-1"></h5><div class="mt-3 font-size-sm">
                    <p th:text="${{obj.comment}}"></p>
                </div></div><div class="text-muted small text-center"><span th:text="${#dates.format(obj.createdAt, 'HH:mm dd-MM-yyyy')}"><i class="far fa-comment ml-2"></i> 3</span></div></div></div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">

        $('#thread-ban-form').submit((e) => {
            e.preventDefault();
            const threadId = [[${thread.id}]];
            $('#thread-ban-spinner').show();
            $('#thread-ban-submit').prop('disabled', true);
            $.ajax({
                type:"post",
                url: pathname + '/admin/v2/threads/' + threadId + '/ban',
                success: function(result){
                    $.toast({
                        text: "Chặn bài viết thành công", // Text that is to be shown in the toast
                        icon: 'success', // Type of toast icon
                        showHideTransition: 'fade', // fade, slide or plain
                        allowToastClose: true, // Boolean value true or false
                        hideAfter: 3000, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
                        stack: false, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
                        position: 'top-right', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values
                        textAlign: 'left',  // Text alignment i.e. left, right or center
                        loader: false,  // Whether to show loader or not. True by default// Background color of the toast loader
                        beforeShow: function () {}, // will be triggered before the toast is shown
                        afterShown: function () {}, // will be triggered after the toat has been shown
                        beforeHide: function () {}, // will be triggered before the toast gets hidden
                        afterHidden: function () {}  // will be triggered after the toast has been hidden
                    });
                    $('#admin-content').load(pathname + '/admin/v2/threads/' + threadId);
                    $('#thread-ban-modal').trigger('click');
                    $('#thread-ban-submit').prop('disabled', false);
                    $('#thread-ban-spinner').hide();
                },
                error: function (err) {
                    $.toast({
                        text: "Chặn bài viết thất bại", // Text that is to be shown in the toast
                        icon: 'error', // Type of toast icon
                        showHideTransition: 'fade', // fade, slide or plain
                        allowToastClose: true, // Boolean value true or false
                        hideAfter: 3000, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
                        stack: false, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
                        position: 'top-right', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values
                        textAlign: 'left',  // Text alignment i.e. left, right or center
                        loader: false,  // Whether to show loader or not. True by default// Background color of the toast loader
                        beforeShow: function () {}, // will be triggered before the toast is shown
                        afterShown: function () {}, // will be triggered after the toat has been shown
                        beforeHide: function () {}, // will be triggered before the toast gets hidden
                        afterHidden: function () {}  // will be triggered after the toast has been hidden
                    });
                    $('#thread-ban-modal').trigger('click');
                    $('#thread-ban-submit').prop('disabled', false);
                    $('#thread-ban-spinner').hide();
                }
            });
        });

        $('#thread-unban-form').submit((e) => {
            e.preventDefault();
            const threadId = [[${thread.id}]];
            $('#thread-unban-spinner').show();
            $('#thread-unban-submit').prop('disabled', true);
            $.ajax({
                type:"post",
                url: pathname + '/admin/v2/threads/' + threadId + '/unban',
                success: function(result){
                    $.toast({
                        text: "Gỡ chặn bài viết thành công", // Text that is to be shown in the toast
                        icon: 'success', // Type of toast icon
                        showHideTransition: 'fade', // fade, slide or plain
                        allowToastClose: true, // Boolean value true or false
                        hideAfter: 3000, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
                        stack: false, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
                        position: 'top-right', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values
                        textAlign: 'left',  // Text alignment i.e. left, right or center
                        loader: false,  // Whether to show loader or not. True by default// Background color of the toast loader
                        beforeShow: function () {}, // will be triggered before the toast is shown
                        afterShown: function () {}, // will be triggered after the toat has been shown
                        beforeHide: function () {}, // will be triggered before the toast gets hidden
                        afterHidden: function () {}  // will be triggered after the toast has been hidden
                    });
                    $('#admin-content').load(pathname + '/admin/v2/threads/' + threadId);
                    $('#thread-unban-modal').trigger('click');
                    $('#thread-unban-submit').prop('disabled', false);
                    $('#thread-unban-spinner').hide();
                },
                error: function (err) {
                    $.toast({
                        text: "Gỡ chặn bài viết thất bại", // Text that is to be shown in the toast
                        icon: 'error', // Type of toast icon
                        showHideTransition: 'fade', // fade, slide or plain
                        allowToastClose: true, // Boolean value true or false
                        hideAfter: 3000, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
                        stack: false, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
                        position: 'top-right', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values
                        textAlign: 'left',  // Text alignment i.e. left, right or center
                        loader: false,  // Whether to show loader or not. True by default// Background color of the toast loader
                        beforeShow: function () {}, // will be triggered before the toast is shown
                        afterShown: function () {}, // will be triggered after the toat has been shown
                        beforeHide: function () {}, // will be triggered before the toast gets hidden
                        afterHidden: function () {}  // will be triggered after the toast has been hidden
                    });
                    $('#thread-unban-modal').trigger('click');
                    $('#thread-unban-submit').prop('disabled', false);
                    $('#thread-unban-spinner').hide();
                }
            });
        });

        function toUserDetail(id) {
            $('.tooltip-inner').remove();
            $('.arrow').remove();
            const url = '/admin/v2/users/' + id;
            $('#admin-content').load(url);
        }
    </script>
</div>
</body>
</html>