<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách chủ đề</title>
</head>
<body>
<div th:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-header">Chủ đề
                    <div class="btn-actions-pane-right">
                        <div role="group" class="btn-group-sm btn-group dropdown-menu-left">
                            <a style="display: none;" id="cancellation-date" th:href="@{/admin/cancellations(page=${page.number},size=${size})}">10 kết quả</a>
                            <button type="button" class="btn mr-2 mb-2 btn-outline-info mb-2 mr-2" data-toggle="modal" data-target="#topic-add-modal">
                                Tạo mới
                            </button>
                        </div>
                        <div id="reportrange-cancellation" class="mb-2 mr-2 dropdown-toggle btn btn-outline-info">
                            <i class="fa fa-calendar"></i>&nbsp;
                            <span></span> <i class="fa fa-caret-down"></i>
                        </div>
                        <!-- <input class="mb-2 mr-2 dropdown-toggle btn btn-outline-info" name="dates"/> -->
                        <div role="group" class="btn-group-sm btn-group dropdown-menu-left">
                            <!--                            <a style="display: none;" id="cancellation-date" th:href="@{/admin/cancellations(page=${page.number},size=${size},filter=${filter})}">10 kết quả</a>-->
                            <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"
                                    class="mb-2 mr-2 dropdown-toggle btn btn-outline-info"></button>
                            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" th:classappend="${size} == 10 ? disabled : ''" tabindex="-1" onclick="limitRecord10(this)">10 kết quả</a>
                                <a class="dropdown-item" th:classappend="${size} == 20 ? disabled : ''" tabindex="0" onclick="limitRecord20(this)">20 kết quả</a>
                                <a class="dropdown-item" th:classappend="${size} == 50 ? disabled : ''" tabindex="0" onclick="limitRecord50(this)">50 kết quả</a>
                                <a class="dropdown-item" th:classappend="${size} == 1000 ? disabled : ''" tabindex="0" onclick="limitRecordAll(this)">Tất cả</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Chủ đề</th>
                            <th class="text-center">Tác vụ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="obj: ${page.content}">
                            <td class="text-center text-muted" th:text="${obj.id}">#345</td>
                            <td class="text-center" th:text="${obj.topic}">08:00 12/20/2020</td>
                            <td class="text-center text-muted">
                                <div class="d-flex flex-row align-items-center justify-content-center">
                                    <button th:id="${{obj.id}}" type="button" class="btn btn-success btn-circle btn-md mr-1" th:data-topic-id="${{obj.id}}" th:data-topic-name="${{obj.topic}}" data-toggle="modal" data-target="#topic-edit-modal">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button th:if="${obj.isAvailable == true}" th:id="${{obj.id}}" type="button" class="btn btn-danger btn-circle btn-md" th:data-topic-id="${{obj.id}}" data-toggle="modal" data-target="#topic-remove-modal">
                                        <i class="fas fa-minus-circle"></i>
                                    </button>
                                    <button th:if="${obj.isAvailable  == false}" th:id="${{obj.id}}" type="button" class="btn btn-danger btn-circle btn-md" th:data-topic-id="${{obj.id}}" data-toggle="modal" data-target="#topic-remove-modal">
                                        <i class="fas fa-calculator"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-block text-center card-footer">
                    <nav aria-label="..." class="d-flex justify-content-center">
                        <ul class="pagination pagination-sm">
                            <li th:if="${page.hasPrevious()}" class="page-item"><a id="cancellation-list-a-paging-previous">Trước</a></li>
                            <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                                <li class="page-item"><span class="page-link disabled" th:if="${page.number == i}">[[${i}+1]]</span></li>
                                <li th:unless="${page.number == i}" class="page-item"><a onclick="toPage(this)">[[${i}+1]]</a></li>
                            </th:block>
                            <li th:if="${page.hasNext()}" class="page-item"><a id="cancellation-list-a-paging-next">Sau</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">

        //topic - add - form
        $('#topic-add-form').submit((e) => {
            e.preventDefault();
            const topicName = $("#add-topic-name").val();
                $.ajax({
                    type:"post",
                    url: pathname + '/api/admin/topics',
                    data: JSON.stringify({"topic": topicName}),
                    contentType:'application/json',
                    success: function(result){
                        $('#admin-content').load(pathname + '/admin/topics');
                        $('#topic-add-modal').trigger('click');
                    }
                });
        });

        // let pathname = '';
        // if(window.location.hostname === '194.59.165.195') {
        //     pathname = '/pbs-webapi';
        // }

        // topic edit form
        //category-edit-form
        $('#topic-edit-form').submit((e) => {
            e.preventDefault();
            const topicId = $("#edit-topic-id").val()
            const topicName = $("#edit-topic-name").val()
            $('#topic-edit-spinner').show();
            $('#topic-edit-submit').prop('disabled', true);
            $.ajax({
                type:"post",
                url: pathname + '/admin/topics/' + topicId,
                data: {topic: topicName},
                success: function(result){
                    $.toast({
                        text: "Chỉnh sửa chủ đè thành công", // Text that is to be shown in the toast
                        icon: 'success', // Type of toast icon
                        showHideTransition: 'fade', // fade, slide or plain
                        allowToastClose: true, // Boolean value true or false
                        hideAfter: 3000, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
                        stack: false, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
                        position: 'top-right', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values
                        textAlign: 'left',  // Text alignment i.e. left, right or center
                        loader: false,  // Whether to show loader or not. True by default// Background color of the toast loader
                        beforeShow: function () {}, // will be triggered before the toast is shown
                        afterShown: function () {}, // will be triggered after the toat has been shown
                        beforeHide: function () {}, // will be triggered before the toast gets hidden
                        afterHidden: function () {}  // will be triggered after the toast has been hidden
                    });
                    $('#admin-content').load(pathname + '/admin/topics');
                    $('#topic-edit-modal').trigger('click');
                    $('#topic-edit-submit').prop('disabled', false);
                    $('#topic-edit-spinner').hide();
                },
                error: function(err) {
                    $.toast({
                        text: "Đã có lỗi xảy ra trong lúc chỉnh sửa", // Text that is to be shown in the toast
                        icon: 'error', // Type of toast icon
                        showHideTransition: 'fade', // fade, slide or plain
                        allowToastClose: true, // Boolean value true or false
                        hideAfter: 3000, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
                        stack: false, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
                        position: 'top-right', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values
                        textAlign: 'left',  // Text alignment i.e. left, right or center
                        loader: false,  // Whether to show loader or not. True by default// Background color of the toast loader
                        beforeShow: function () {}, // will be triggered before the toast is shown
                        afterShown: function () {}, // will be triggered after the toat has been shown
                        beforeHide: function () {}, // will be triggered before the toast gets hidden
                        afterHidden: function () {}  // will be triggered after the toast has been hidden
                    });
                    $('#topic-edit-modal').trigger('click');
                    $('#topic-edit-submit').prop('disabled', false);
                    $('#topic-edit-spinner').hide();
                }
            });
        });

        $('#topic-edit-modal').on('show.bs.modal', function(e) {

            //get data-id attribute of the clicked element
            const topicId = $(e.relatedTarget).data('topic-id');
            const topicName = $(e.relatedTarget).data('topic-name');

            //populate the textbox
            $(e.currentTarget).find('#edit-topic-name').val(topicName);
            $(e.currentTarget).find('#edit-topic-id').val(topicId);
        });

        // remove topic
        // remove category form
        $('#topic-remove-form').submit((e) => {
            e.preventDefault();
            const topicId = $("#remove-topic-id").val()
            $('#topic-remove-spinner').show();
            $('#topic-remove-submit').prop('disabled', true);
            $.ajax({
                type:"delete",
                url: pathname + '/api/admin/topics/' + topicId,
                success: function(result){
                    if(result == true) {
                        $.toast({
                            text: "Vô hiệu hóa chủ đề thành công", // Text that is to be shown in the toast
                            icon: 'success', // Type of toast icon
                            showHideTransition: 'fade', // fade, slide or plain
                            allowToastClose: true, // Boolean value true or false
                            hideAfter: 3000, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
                            stack: false, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
                            position: 'top-right', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values
                            textAlign: 'left',  // Text alignment i.e. left, right or center
                            loader: false,  // Whether to show loader or not. True by default// Background color of the toast loader
                            beforeShow: function () {}, // will be triggered before the toast is shown
                            afterShown: function () {}, // will be triggered after the toat has been shown
                            beforeHide: function () {}, // will be triggered before the toast gets hidden
                            afterHidden: function () {}  // will be triggered after the toast has been hidden
                        });
                        $('#admin-content').load(pathname + '/admin/topics');
                        $('#topic-remove-modal').trigger('click');
                        $('#topic-remove-submit').prop('disabled', false);
                        $('#topic-remove-spinner').hide();

                    } else {
                        $.toast({
                            text: "Không thể vô hiệu hóa chủ đề vì đang có bài viết ở thể loại này", // Text that is to be shown in the toast
                            icon: 'error', // Type of toast icon
                            showHideTransition: 'fade', // fade, slide or plain
                            allowToastClose: true, // Boolean value true or false
                            hideAfter: 3000, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
                            stack: false, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
                            position: 'top-right', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values
                            textAlign: 'left',  // Text alignment i.e. left, right or center
                            loader: false,  // Whether to show loader or not. True by default// Background color of the toast loader
                            beforeShow: function () {}, // will be triggered before the toast is shown
                            afterShown: function () {}, // will be triggered after the toat has been shown
                            beforeHide: function () {}, // will be triggered before the toast gets hidden
                            afterHidden: function () {}  // will be triggered after the toast has been hidden
                        });
                        $('#topic-remove-modal').trigger('click');
                        $('#topic-remove-submit').prop('disabled', false);
                        $('#topic-remove-spinner').hide();
                    }
                },
                error: function(err) {
                    $.toast({
                        text: "Vô hiệu hóa chủ đề thất bại", // Text that is to be shown in the toast
                        icon: 'error', // Type of toast icon
                        showHideTransition: 'fade', // fade, slide or plain
                        allowToastClose: true, // Boolean value true or false
                        hideAfter: 3000, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
                        stack: false, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
                        position: 'top-right', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values
                        textAlign: 'left',  // Text alignment i.e. left, right or center
                        loader: false,  // Whether to show loader or not. True by default// Background color of the toast loader
                        beforeShow: function () {}, // will be triggered before the toast is shown
                        afterShown: function () {}, // will be triggered after the toat has been shown
                        beforeHide: function () {}, // will be triggered before the toast gets hidden
                        afterHidden: function () {}  // will be triggered after the toast has been hidden
                    });
                    $('#topic-remove-modal').trigger('click');
                    $('#topic-remove-submit').prop('disabled', false);
                    $('#topic-remove-spinner').hide();
                }
            });
        });

        $('#topic-remove-modal').on('show.bs.modal', function(e) {

            //get data-id attribute of the clicked element
            const topicId = $(e.relatedTarget).data('topic-id');

            //populate the textbox
            $(e.currentTarget).find('#remove-topic-id').val(topicId);
        });
        // end remove category form
        // end remove topic


        // th:href="@{/admin/cancellations(page=${page.number},size=10,start=${start},end=${end},filter=${filter})}"
        function limitRecord10(atag) {
            $('#admin-content').load('/admin/cancellations?'  + $.param({size: 10, page: [[${page.number}]], start: [[${start}]], end: [[${end}]], filter: [[${filter}]]}));
        }

        function limitRecord20(atag) {
            $('#admin-content').load('/admin/cancellations?'  + $.param({size: 20, page: [[${page.number}]], start: [[${start}]], end: [[${end}]], filter: [[${filter}]]}));
        }

        function limitRecord50(atag) {
            $('#admin-content').load('/admin/cancellations?'  + $.param({size: 50, page: [[${page.number}]], start: [[${start}]], end: [[${end}]], filter: [[${filter}]]}));
        }

        function limitRecordAll(atag) {
            $('#admin-content').load('/admin/cancellations?'  + $.param({size: 1000, page: [[${page.number}]], start: [[${start}]], end: [[${end}]], filter: [[${filter}]]}));
        }

        // th:href="@{/admin/cancellations(page=${page.number},size=${size},start=${start},end=${end},filter=not_solve)}"
        function filterStatusNodeal(atag) {
            $('#admin-content').load('/admin/cancellations?'  + $.param({size: [[${page.size}]], page: 0, start: [[${start}]], end: [[${end}]], filter: 'not_solve'}));
        }

        function filterStatusAlreadydeal(atag) {
            $('#admin-content').load('/admin/cancellations?'  + $.param({size: [[${page.size}]], page: 0, start: [[${start}]], end: [[${end}]], filter: 'solve'}));
        }

        function filterStatusAll(atag) {
            $('#admin-content').load('/admin/cancellations?'  + $.param({size: [[${page.size}]], page: 0, start: [[${start}]], end: [[${end}]], filter: 'all'}));
        }

        function toPage(atag) {
            let page = atag.text;
            page = page - 1;
            $('#admin-content').load('/admin/cancellations?'  + $.param({size: [[${page.size}]], page: page, start:[[${start}]], end: [[${end}]], filter: [[${filter}]]}));
        }

        $(document).ready(()=>{

            $('#cancellation-list-a-paging-previous').click(() => {
                $('#admin-content').load('/admin/cancellations?' + $.param({page: [[${page.number-1}]],size: [[${page.size}]], start:[[${start}]], end: [[${end}]], filter: [[${filter}]]}));
            });

            $('#cancellation-list-a-paging-next').click(() => {
                $('#admin-content').load('/admin/cancellations?' + $.param({page: [[${page.number+1}]],size: [[${page.size}]], start:[[${start}]], end: [[${end}]], filter: [[${filter}]]}));
            });
        });
    </script>
    <script th:inline="javascript">

        moment.locale('vi', {
            months: 'Tháng 1_Tháng 2_Tháng 3_Tháng 4_Tháng 5_Tháng 6_Tháng 7_Tháng 8_Tháng 9_Tháng 10_Tháng 11_Tháng 12'.split('_'),
            monthsShort: 'T1._T2._T3_T4._T5_T6_T7._T8_T9._T10._T11._T12.'.split('_'),
            monthsParseExact: true,
            weekdays: 'Chủ nhật_Thứ 2_Thứ 3_Thứ 4 _Thứ 5_Thứ 6_Thứ 7'.split('_'),
            weekdaysShort: 'CN._T2._T3._T4._T5._T6._T7.'.split('_'),
            weekdaysMin: 'CN_T2_T3_T4_T5_T6_T7'.split('_'),
            weekdaysParseExact: true,
            longDateFormat: {
                LT: 'HH:mm',
                LTS: 'HH:mm:ss',
                L: 'DD/MM/YYYY',
                LL: 'D MMMM YYYY',
                LLL: 'D MMMM YYYY HH:mm',
                LLLL: 'dddd D MMMM YYYY HH:mm'
            },
            calendar: {
                sameDay: '[Ngày hôm nay] LT',
                nextDay: '[Ngày mai] LT',
                nextWeek: 'dddd [Tuần tới] LT',
                lastDay: '[Hôm qua] LT',
                lastWeek: 'dddd [Tuần trước] LT',
                sameElse: 'L'
            },
            relativeTime: {
                future: 'Lúc %s',
                past: '%s',
                s: 'Vài giây',
                m: 'Vài phút',
                mm: '%d phút',
                h: 'Giờ',
                hh: '%d giờ',
                d: 'Ngày',
                dd: 'Ngày %d',
                M: 'Tháng',
                MM: 'Tháng %d',
                y: 'Năm',
                yy: 'Năm %d'
            },
            dayOfMonthOrdinalParse: /\d{1,2}(er|e)/,
            ordinal: function (number) {
                return number + (number === 1 ? 'er' : 'e');
            },
            meridiemParse: /PD|MD/,
            isPM: function (input) {
                return input.charAt(0) === 'M';
            },
            // In case the meridiem units are not separated around 12, then implement
            // this function (look at locale/id.js for an example).
            // meridiemHour : function (hour, meridiem) {
            //     return /* 0-23 hour, given meridiem token and hour 1-12 */ ;
            // },
            meridiem: function (hours, minutes, isLower) {
                return hours < 12 ? 'PD' : 'MD';
            },
            week: {
                dow: 1, // Monday is the first day of the week.
                doy: 4  // Used to determine first week of the year.
            }
        });

        $(function () {

            // var start = moment().subtract(29, 'days');
            // var end = moment();
            var start = new Date([[${start}]]);
            var end = new Date([[${end}]]);

            function cb(start, end) {
                if(start.toString().localeCompare('Invalid date')) {
                    $('#reportrange-cancellation span').html(formatDate(start) + ' - ' + formatDate(end));
                } else {
                    $('#reportrange-cancellation span').html('Tất cả');
                }
            }

            $('#reportrange-cancellation').daterangepicker({
                startDate: isValidDate(start) ? start : moment(),
                endDate: isValidDate(end) ? end : moment(),
                ranges: {
                    'Tất cả': ['', ''],
                    'Hôm nay': [moment(), moment()],
                    'Hôm qua': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    '7 Ngày trước': [moment().subtract(6, 'days'), moment()],
                    '30 Ngày trước': [moment().subtract(29, 'days'), moment()],
                    'Tháng này': [moment().startOf('month'), moment().endOf('month')],
                    'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }

            }, cb);

            cb(start, end);
            if(!isValidDate(start)) {
                $('#reportrange-cancellation span').html('Tất cả');
            }
            $(".applyBtn").text("Chọn");
            $(".cancelBtn").text("Hủy");
            $('*[data-range-key="Custom Range"]').text("Tùy chỉnh");

        });

        $('#reportrange-cancellation').on('apply.daterangepicker', function(ev, picker) {
            var startDate = $('#reportrange-cancellation').data('daterangepicker').startDate._d;
            var endDate = $('#reportrange-cancellation').data('daterangepicker').endDate._d;
            if(isValidDate(startDate)) {
                let filter = [[${filter}]];
                $('#admin-content').load(document.getElementById('cancellation-date').href + `&start=${formatDate(startDate)}&end=${formatDate(endDate)}&filter=` + filter.toString());
            } else {
                let filter = [[${filter}]];
                $('#admin-content').load(document.getElementById('cancellation-date').href + `&filter=` + filter.toString());
            }
        });

        function isValidDate(d) {
            return d instanceof Date && !isNaN(d);
        }

        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [year, month, day].join('-');
        }

        // $('input[name="dates"]').daterangepicker();
    </script>
</div>
</body>
</html>