<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cập nhật trọng số</title>
</head>
<body>
<div th:fragment="content">
    <div class="row">
        <div class="tab-content col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <h5 class="card-title">Trọng số đánh giá</h5>
                    </div>
                    <div>
                        <form method="post" id="variable-form">
                            <div class="form-inline">
                                <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group"><label class="mr-sm-2">Giá trung bình dịch vụ
                                </label><input id="price" input type="text" class="form-control" th:value="${{price.weight}}"></div>
                            </div>
                            <div class="divider"></div>
                            <div class="form-inline">
                                <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group"><label class="mr-sm-2">Khoảng cách thợ ảnh đến người dùng
                                </label><input id="distance" type="text" class="form-control" th:value="${{distance.weight}}"></div>
                            </div>
                            <div class="divider"></div>
                            <div class="form-inline">
                                <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group"><label class="mr-sm-2">Đánh giá từ người dùng trước
                                </label><input id="rating" type="text" class="form-control" th:value="${{rating.weight}}"></div>
                            </div>
                            <div class="divider"></div>
                            <button class="mt-2 btn btn-primary" type="button" data-toggle="modal" data-target="#update-variable-modal">Cập nhật</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">

        $('#update-variable-form').submit(async (e) => {
            e.preventDefault();
            const rating = parseFloat($("#rating").val());
            const price = parseFloat($("#price").val());
            const distance = parseFloat($("#distance").val());
            if((rating + price + distance) != 1) {
                $('#update-variable-modal').trigger('click');
                $.toast({
                    text: "Tổng của ba trọng số phải bằng 1", // Text that is to be shown in the toast
                    icon: 'error', // Type of toast icon
                    showHideTransition: 'fade', // fade, slide or plain
                    allowToastClose: true, // Boolean value true or false
                    hideAfter: 3000, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
                    stack: false, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
                    position: 'top-center', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values
                    textAlign: 'left',  // Text alignment i.e. left, right or center
                    loader: false,  // Whether to show loader or not. True by default// Background color of the toast loader
                    beforeShow: function () {}, // will be triggered before the toast is shown
                    afterShown: function () {}, // will be triggered after the toat has been shown
                    beforeHide: function () {}, // will be triggered before the toast gets hidden
                    afterHidden: function () {}  // will be triggered after the toast has been hidden
                });
            } else {
                $('#update-variable-spinner').show();
                $('#update-variable-submit').prop('disabled', true);
                $.ajax({
                    type:"post",
                    url: '/admin/api/variables',
                    data: {rating: rating, price: price, distance: distance},
                    success: function(result){
                        $('#admin-content').load(pathname + '/admin/variables');
                        $('#update-variable-modal').trigger('click');
                        $('#update-variable-submit').prop('disabled', false);
                        $('#update-variable-spinner').hide();
                        $.toast({
                            text: "Cập nhật thành công", // Text that is to be shown in the toast
                            icon: 'success', // Type of toast icon
                            showHideTransition: 'fade', // fade, slide or plain
                            allowToastClose: true, // Boolean value true or false
                            hideAfter: 3000, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
                            stack: false, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
                            position: 'top-right', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values
                            textAlign: 'left',  // Text alignment i.e. left, right or center
                            loader: false,  // Whether to show loader or not. True by default// Background color of the toast loader
                            beforeShow: function () {}, // will be triggered before the toast is shown
                            afterShown: function () {}, // will be triggered after the toat has been shown
                            beforeHide: function () {}, // will be triggered before the toast gets hidden
                            afterHidden: function () {}  // will be triggered after the toast has been hidden
                        });
                    },
                    error: function(err) {
                        $('#update-variable-modal').trigger('click');
                        $('#update-variable-submit').prop('disabled', false);
                        $('#update-variable-spinner').hide();
                    }
                });
            }
        });

        $('#variable-form').submit((e) => {
            e.preventDefault();
            const rating = parseFloat($("#rating").val());
            const price = parseFloat($("#price").val());
            const distance = parseFloat($("#distance").val());
            if((rating + price + distance) != 1) {
                alert("Tổng của 3 trọng số phải bằng 1")
            } else {
                $.ajax({
                    type:"post",
                    url: '/admin/variables/',
                    data: {rating: rating, price: price, distance: distance},
                    success: function(result){
                        $('#admin-content').load('/admin/variables');
                    }
                });
            }
        });
    </script>
</div>
</body>
</html>