<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style th:replace="shared/style"></style>
</head>
<body>
    <div th:replace="shared/header">  </div>

    <div th:replace="shared/menu"> </div>

    <div layout:fragment="content"></div>

    <div th:replace="shared/footer"></div>

    <div layout:fragment="script"> </div>

    <div th:replace="shared/file_script"> </div>

<!--    &lt;!&ndash; jQuery &ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>-->
<!--    &lt;!&ndash; jQuery UI 1.11.4 &ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{/admin/plugins/jquery-ui/jquery-ui.min.js}"></script>-->
<!--    &lt;!&ndash; Resolve conflict in jQuery UI tooltip with Bootstrap tooltip &ndash;&gt;-->
<!--    <script type="text/javascript">-->
<!--        $.widget.bridge('uibutton', $.ui.button)-->
<!--    </script>-->
<!--    &lt;!&ndash; Bootstrap 4 &ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>-->
<!--    &lt;!&ndash; ChartJS &ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{/admin/plugins/chart.js/Chart.min.js}"></script>-->
<!--    &lt;!&ndash; Sparkline &ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{/admin/plugins/sparklines/sparkline.js}"></script>-->
<!--    &lt;!&ndash; JQVMap &ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{/admin/plugins/jqvmap/jquery.vmap.min.js}"></script>-->
<!--    <script type="text/javascript" th:src="@{/admin/plugins/jqvmap/maps/jquery.vmap.usa.js}"></script>-->
<!--    &lt;!&ndash; jQuery Knob Chart &ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{/admin/plugins/jquery-knob/jquery.knob.min.js}"></script>-->
<!--    &lt;!&ndash; daterangepicker &ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{/admin/plugins/moment/moment.min.js}"></script>-->
<!--    <script type="text/javascript" th:src="@{/admin/plugins/daterangepicker/daterangepicker.js}"></script>-->
<!--    &lt;!&ndash; Tempusdominus Bootstrap 4 &ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{/admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>-->
<!--    &lt;!&ndash; Summernote &ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{/admin/plugins/summernote/summernote-bs4.min.js}"></script>-->
<!--    &lt;!&ndash; overlayScrollbars &ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{/admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>-->
<!--    &lt;!&ndash; AdminLTE App &ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{/admin/dist/js/adminlte.js}"></script>-->
<!--    &lt;!&ndash; AdminLTE dashboard demo (This is only for demo purposes) &ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{/admin/dist/js/pages/dashboard.js}"></script>-->
<!--    &lt;!&ndash; AdminLTE for demo purposes &ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{/admin/dist/js/demo.js}"></script>-->

<!--    <script type="text/javascript" th:src="@{/admin/shared.js}" defer></script>-->

<!--    <script type="text/javascript" th:src="@{/admin/plugins/bs-custom-file-input/bs-custom-file-input.min.js}"></script>-->
<!--    &lt;!&ndash; AdminLTE App &ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{/admin/dist/js/adminlte.min.js}"></script>-->
<!--    &lt;!&ndash; AdminLTE for demo purposes &ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{/admin/dist/js/demo.js}"></script>-->

<!--    <script type="text/javascript" th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>-->
<!--    &lt;!&ndash; Bootstrap 4 &ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>-->

<!--    <script type="text/javascript">-->
<!--        $(document).ready(function () {-->
<!--            bsCustomFileInput.init();-->
<!--        });-->
<!--    </script>-->
<!--        <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>-->
</body>
</html>